* {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    color: rgba(0,0,0,0.87);
    box-sizing: border-box;
  }
  
  /************************ header *****************************/
  
  header {
    width: 100%;
    height: 58px;
  }
  
  header nav {
    float: right;
  }
  
  .nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 250px;
    margin-top: 3px;
  }
  .nav_list li {
    margin-left: 15px;
  }
  .nav_list li a {
    text-decoration: none;
    font-size: 0.8rem;
  }
  .nav_list li:nth-child(1),
  li:nth-child(2) {
    margin-left: 15px;
  }
  .nav_list li:nth-child(1):hover,
  li:nth-child(2):hover {
    text-decoration: underline;
  }
  .nav_list li:nth-child(3) a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav_list li:nth-child(3) a:hover {
    background-color: #cbcdce;
  }
  .nav_list li:nth-child(3) a img {
    width: 20px;
  }
  .nav_list li:nth-child(4) a {
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav_list li:nth-child(4) a:hover {
    background-color: #cbcdce;
  }
  .nav_list li:nth-child(4) a img {
    width: 32px;
    border-radius: 50%;
  }
  
  /************************** main *****************************/
  
  .section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .section > article {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section > .art1 > img {
    height: 95px;
    margin-bottom: 30px;
  }
  
  .art2 {
    width: 584px;
    height: 45px;
    margin: 0 20px;
    padding: 0 10px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .art2 > input {
    padding: 10px;
    border: none;
    flex-grow: 2;
    margin: 0 5px;
  }
  .art2:hover{
      -webkit-box-shadow: 0px 0px 2px 1px #dfe1e5; 
      box-shadow: 0px 0px 2px 1px #dfe1e5;
  }
  .art2 > input:focus {
    outline: none;
  }
  .fa-search {
    font-size: 1.2rem;
    color: #cbcdce;
    margin-left: 5px;
  }
  .fa-keyboard {
    font-size: 1.2rem;
    color: #777;
    margin-right: 5px;
  }
  
  .art3 {
      width: 50%;
      height: 50px;
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .art3 > button:nth-child(1) {
      width: 120px;
      background-color: #f8f9fa;
      padding: 10px 10px;
      margin-right: 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }
  .art3 > button:nth-child(2) {
      width: 220px;
      padding: 10px 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      background-color: #f8f9fa;
  }
  .art3 > button:nth-child(1):hover, button:nth-child(2):hover {
      border: 1px solid #dfe1e5;
      -webkit-box-shadow: 0px 0px 2px 1px #dfe1e5; 
      box-shadow: 0px 0px 2px 1px #dfe1e5;
  }
  .art4 {
      padding-top: 30px;
  }
  .art4 > p > a{
      text-decoration: none;
      color: blue;
  }
  
  /************************** footer *****************************/
  
  footer {
      width: 100%;
      margin-top: 167px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
  footer > nav {
      width: 100%;
      height: 50px;
      background-color: #F2F2F2;
  }
  footer > nav > p, li> a {
      color:#70757a;
  }
  footer > nav:nth-child(1) {
      border-bottom: 1px solid #ddd;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 20px;
  }
  
  footer > nav:nth-child(2){
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 20px;
  }
  
  footer > nav:nth-child(2) > ul {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  footer > nav:nth-child(2) > ul > li {
      margin-right: 20px;
  }
  footer > nav:nth-child(2) > ul > li > a {
      text-decoration: none;
  }
  footer > nav:nth-child(2) > ul > li > a:hover {
      text-decoration: underline;
  }
  
  footer > nav:nth-child(2) > div {
      flex-grow: 2;
      padding-left: 100px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
  }
  .fa-envira {
      margin-right: 10px;
      color: green;
  }
  
  
  @media screen and (max-width:1100px){
      footer > nav:nth-child(2){
          height: auto;
          padding: 10px 0 0 0;
          flex-direction: column;
      }
      footer > nav:nth-child(2) > ul, div {
          margin-bottom: 10px;
      }
      footer > nav:nth-child(2) > div{
          display: flex;
          justify-content: center;
          align-items: center;
          padding-left: 0;
          flex-grow: inherit;
      }
  
  }